<div class="dinamica-root">
  <h1 class="title">Dinámica de hoy</h1>

  <div class="cards">
    @for (equipo of equipos; track $index) {
      <div class="card">
        


        <p class="subtitle">
          Equipo <span class="team">{{ equipo.nombre }}</span>
          <span class="dot">•</span>
          <strong class="ventas">{{ equipo.ventas }} ventas</strong>
        </p>

        <p class="product">
          Producto: <span class="prod-name">{{ equipo.producto }}</span>
        </p>

        <div class="reward">
          Regalamos <strong>{{ equipo.pizzas }}</strong> Vales KFC
          <span class="emoji">🍗🐓</span>
        </div>
        <div class="img-row">
          @for (img of equipo.imagenes; track $index) {
            <img [src]="img" alt="Logo {{ equipo.nombre }}" class="card-img" />
          }
        </div>
      </div>
    }
  </div>
</div>
